@font-face {
	font-family: w95;
	src: url(assets/W95FA.otf);
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor:none;
	background:teal
}
.name {
	font-family: w95;
	font-size: 14px;
	color: white;
	position: relative;
	top: 70%;
	right: 25%;
	width: fit-content;
}
.name:focus, :focus>.name {
	outline-color: rgba(0,0,0,.8);
	outline-style: dotted;
	outline-width: 1px;
	outline-offset: -1px;
}
.chowder {
	position: absolute;
	width: 139px;
	height: 178px;
	background-image: url(assets/chowder.png);
	background-attachment: fixed;
}
img.chowder {
	background-size: 16px 16px;
}
.cursor {
	position:absolute;
	background-image: url(assets/cursor.PNG);
	width: 12px;
	height: 21px;
	z-index: 100;
	background-attachment: fixed;
}
#drag {
	background-image: url(assets/drag.PNG);
	width: 21px;
}
#exe {
	position: absolute;
	width: 48px;
	height: 48px;
	background-image: url(assets/chowder.png);
	background-size: 48px 48px;
}
#exe2 {
	position: absolute;
	width: 48px;
	height: 48px;
	background-size: 16px 16px;
}
#exe2>img {
	position: absolute;
	width: 48px;
	height: 48px;
}
.selected {
	filter:brightness(.5) sepia(100%) hue-rotate(180deg) saturate(8);
}
.selected>.name {
	color: #b2fcff;
	background: #0080cb;
	
}
